@import 'fonts';

$fontFamily: "Rubick", sans-serif;
$textColor: #fff;
$mainColor-1: #08004eb3;
$mainColor-2: #b1e1ff;
$componentColor: #b1e1ff80;
$completeColor: #bbffd5;
$processColor: #08004e;
$pendingColor: #808080;
$deleteColor: #ffc2c2;
$alertColor: #fd8383;
$editColor: #08004e1a;

$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

@import 'null';

body {
	position: relative;
	font-size: 18px;
	font-weight: 400;
	color: $textColor;
	background: #08004e;
	background: linear-gradient(315deg, $mainColor-1 8%, $mainColor-2 100%);
}

.container {
	max-width: $maxWidthContainer + px;
	padding: 0 15px;
	margin: 0 auto;
}

// APP (основные элементы приложения)

.app {
	margin-top: 200px;
	display: flex;
	width: 100%;
	min-height: 500px;

	&__component {
		background-color: $componentColor;
		padding: 15px;

		&.app__component-left {
			min-width: 320px;
			max-width: 50%;
			width: 320px;
			margin-right: 10px;
			position: relative;

			.grab {
				right: -7px;
				top: 0;
				width: 14px;
			}
		}

		&.app__component-right {
			flex: 1;
		}
	}

	&__search-form {
		position: relative;
		width: 100%;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 50px;
			height: 50px;
			background-image: url('../img/search.svg');
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	&__search-input {
		font-family: inherit;
		font-size: 16px;
		color: $pendingColor;
		width: 100%;
		height: 50px;
		padding: 15px;
		padding-right: 50px;

		&::placeholder {
			font-size: 14px;
		}
	}

	&__title {
		position: relative;
		font-weight: 700;
		font-size: 22px;
		margin-top: 25px;
		width: 100%;

		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $mainColor-2;
			left: 0;
			bottom: -5px;
		}
	}

	&__todo-list {
		margin-top: 15px;
		width: 100%;
	}

	&__btn {
		align-items: center;
		width: 100%;
		padding: 10px 0;
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		background-color: transparent;
		cursor: pointer;
		transition: background-color .3s ease;

		&:hover {
			background-color: $editColor;
		}

		&.add-task-btn {
			display: flex;
			&::before {
				content: '';
				width: 30px;
				height: 30px;
				background-image: url('../img/plus.svg');
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}

	&__edit-form {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}

// TODO-LIST (TODO - список)

.todo-list {

		&__item {
			width: 100%;
			height: 50px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: $mainColor-2;
			border-left: solid 5px $pendingColor;
			margin-bottom: 5px;
			transition: background-color .3s ease;
			cursor: pointer;

			&.task-complete {
				border-left-color: $completeColor;
			}

			&.task-process {
				border-left-color:$processColor;
			}

			&:hover {
				background-color: rgb(124, 181, 216);
			}
		}
}

// TODO-LIST-ITEM (TODO задача)

.todo-list-item {

		&__name {
			flex: 1;
			padding: 10px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&__controllers {
			width: 100px;
			height: 100%;
			display: flex;
		}

		&__controller {
			width: 50%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
			cursor: pointer;
			transition: background-color .3s ease;
		}
}

// TASK BUTTONS (кнопки взаимодействия с TODO-задачей)

.task-complete-btn {
	background-image: url('../img/done.svg');

	&:hover {
		background-color: $completeColor;
	}
}
.task-delete-btn {
	background-image: url('../img/delete.svg');

	&:hover {
		background-color: $deleteColor;
	}
}

// EDIT-FORM (форма редактирования TODO-задачи)

@keyframes changeEditBackground {
	0% {
		background-color: transparent;
	};
	100% {
		background-color: $editColor;
	}
}

.edit-form {
	display: none;
	opacity: 0;
	padding: 15px;
	font-size: 18px;
	border: solid 2px rgba(177,225,255,0.5);

	&.show {
		display: flex;
		opacity: 1;

		animation: show .3s linear forwards;
	}

	&__input {
		padding: 15px;
		margin-bottom: 20px;
		font-family: $fontFamily;
		font-size: inherit;
		color: inherit;
		background-color: transparent;
		border: solid 3px $editColor; 
		cursor: default;

		&.edit {
			cursor: auto;
			animation: changeEditBackground .4s linear forwards;
		}
	}

	&__date {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__deadline {
		line-height: 50px;
		display: flex;
		align-items: center;
		justify-content: end;
	}

	&__created {
		padding-left: 15px;
	}

	&__buttons {
		margin-top: 25px;
		display: flex;
		justify-content: end;
		column-gap: 15px;
	}

	&__btn {
		width: 25%;
		border: solid 2px $editColor;

		&:disabled {
			background-color: $editColor;
		}
	}

	textarea {
		resize: none;
		height: 100px;
	}
}

// EDIT-INPUTS (поля редактирования данных TODO-задачи)

.edit-name {
	font-size: 28px;
	font-weight: 700;
}
.edit-deadline {
	color: $deleteColor;
	margin: 0;
	margin-left: 5px;
	font-size: 18px;
	height: 55px;
}

// POPUP

@keyframes show {
	0% {
		opacity: 0;
	};
	100% {
		opacity: 1;
	}
}

@keyframes dropdown {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	};
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.overlay {
	display: none;
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	bottom: 0;
 	left: 0;
  	right: 0;
  	background: rgba(0,0,0,0.5);
}

.show {
	display: block;
	opacity: 1;
	visibility: visible;
	animation: show .4s linear;
} 

.cancel {
	position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}

.popup {
		max-width: 520px;
		padding: 30px 15px;
		background-color: #fff;
		border-radius: 10px;
		margin: 75px auto;
		box-shadow: 0 0 50px rgba(0,0,0,0.5);
		position: relative;
		transform: translateY(-200%);
		animation: dropdown .4s linear .2s forwards;

		.app__title {
			color: #000;
			text-align: center;
		}

		&__close {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: -20px;
			left: 50%;
			transform: translateX(-50%);			
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: #000;
			cursor: pointer;
			transition: background-color .3s ease;

			&:hover {
				background-color: rgb(0, 0, 0, 0.5);
			}
		}

		&__close-icon {
			fill: #fff;
		}
}

// CREATE-FORM (форма создания TODO-задачи)

.create-form {

	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	color: #000;
	position: relative;

	&__input {
		width: 100%;
		margin-top: 5px;
		margin-bottom: 20px;
		padding: 10px;
		background-color: rgba(177,225,255,0.5);
		font-family: inherit;
		font-size: 16px;  

		&::placeholder {
			font-size: 14px;
			color: $pendingColor;
		}
	}

	&__btn {
		width: 60%;
		height: 50px;
		font-family: inherit;
		font-size: inherit;
		text-transform: uppercase;
		border: solid 2px $mainColor-2;
		background-color: $mainColor-2;
		transition: all .3s ease;

		&:hover {
			background-color: transparent;
		}

		&:active {
			transform: scale(0.9);
		}
	}

	&__alert {
		position: absolute;
		left: 10px;
		top: 65px;
		opacity: 0;
		color: $alertColor;
		font-size: 14px;

		&.show {
			animation: show .3s linear forwards;
		} 
	}
}

.task-note {
	resize: none;
}

// класс для скрытия элементов

.hidden {
	display: none;
}

// стилизация захвата (растягивание блока)

.grab {
	position: absolute;
    height: 100%;
    background-color: transparent;
    cursor: col-resize;
}